<ng-content select="ds-label, [dsLabel]" />

<div
  class="ds-form-field__wrapper"
  [class.ds-form-field__wrapper--disabled]="isDisabled()"
  (click)="onWrapperClick($event)"
>
  @if (hasPrefix()) {
    <div class="ds-form-field__prefix">
      <ng-content select="ds-prefix, [dsPrefix]" />
    </div>
  }

  <ng-content />

  @if (hasSuffix()) {
    <div class="ds-form-field__suffix">
      <ng-content select="ds-suffix, [dsSuffix]" />
    </div>
  }
</div>

@if (hasError() || hasHint()) {
  <div class="ds-form-field__hint" [class.ds-form-field__hint--error]="hasError()">
    @if (hasError()) {
      <ng-content select="ds-error, [dsError]" />
    } @else {
      <ng-content select="ds-hint, [dsHint]" />
    }
  </div>
}
