@mixin transition($props...) {
  $declarations: ();

  @each $prop in $props {
    $declarations: append(
      $declarations,
      #{$prop} var(--duration-base) var(--ease-default),
      comma
    );
  }

  transition: $declarations;
}
